## Assignment Unit number 5

In [5]:
# Question 1.  Write a program to print the n natural number from descending order in while loop
n=int(input("Enter a number:"))
while n>0:
    print(n,end=' ')
    n=n-1;

Enter a number: 5

5 4 3 2 1

In [16]:
# Question 2. WAP to appends the square of each element in new list
# arr=map(int,input("Enter a number").split(' '))
# for i in arr:
#     print(arr[i])
arr=[2,3,4,5,6,7,8]
num=[]
for i in arr:
    num.append(i*i)
num

[4, 9, 16, 25, 36, 49, 64]

In [17]:
# Question 3.WAP to appends the types of data in list.
arr=['Rupesh',45,56.2]
types=[]
for i in arr:
    types.append(type(i))
types

[str, int, float]

In [18]:
# Question 4.WAP to filter the even and odd number.
num=[2,3,4,5,6,7,8,9]
even=[]
odd=[]
for i in num:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
even,odd

([2, 4, 6, 8], [3, 5, 7, 9])

In [20]:
# Question 5 WAP to convert into month name in days.
name=input("Enter a month name")
# using elif condition

Enter a month name 5

In [23]:
# Question 6.Write a program to print reverse a string
string=input("Enter a number")
reverse=''
for i in string:
    reverse=i+reverse
print(reverse)
#  print(string[::-1])  #it is one line code for print in reverse order

Enter a number rupesh

hsepur
hsepur

In [28]:
# Question 7. WAP to find the find the number of digit in given number.
num=input("Enter a string")
print(len(num))

Enter a string 56789

5

In [34]:
# Question8. WAP to find the fibonaci of given number
num=int(input("Enter a number"))
a=-1
b=1
while num>0:
    c=a+b
    print(c,end=' ')
    a=b
    b=c
    num=num-1

Enter a number 10

0 1 1 2 3 5 8 13 21 34

In [38]:
# WAP to print the factorial of given number
num=int(input("Enter a number"))
t=num
fact=1
while num>0:
    fact=fact*num
    num=num-1;
print(f"The factoria of {t} is: ",fact)

Enter a number 5

The factoria of 5 is:  120

In [46]:
# Question 9. WAP to print the n number of series for ex:- n=5 =>2+22+222+2222+22222=24690
n=int(input("Enter a number"))
num=5
s=n
sum=0
while num>0:
    print(n,end='+')
    sum=sum+n
    n=n*10+s
    num=num-1
print("=",sum)

Enter a number 2

2+22+222+2222+22222+= 24690

In [58]:
# Question 10. WAP to print the prime number between the two number .
start=int(input("Enter a First number:"))
last=int(input("Enter the last number:"))
prime=[]
for i in range(start,last+1):
    n=i//2  # also use sqrt(n)
    for j in range(2,n+1):
        if i%j==0:
            break
    else:
        prime.append(i)
print(f"The Prime number is between {start} to {last} is: ",prime)

Enter a First number: 25
Enter the last number: 50

The Prime number is between 25 to 50 is:  [29, 31, 37, 41, 43, 47]

In [3]:
t=sum([70,250,66,50,100,35,50,30,30,18,60,18,160,40,105,90,150,50,50,50,25,60,10,20,30,40,50,118,20,1,50,20,30,80,120,5,30,500])
t

2681