In [5]:
# Question 1. WAP to find the whether a number is falls in given range in 10 to 900.
num=int(input("Enter a number"))
def check(num):
    if num>10 and num<900:
        print("it is in given range")
    else:
        print("the number is not in given range")
check(num)

Enter a number 5

the number is not in given range

In [21]:
# WAP to multiply all the number in list
m=[5,4,6,8,9,7]
def mul(m):
    t=1
    for i in range(len(m)):
        t*=m[i]
    return t
mul(m)

60480

In [31]:
# WAP to check the even number from the list.
numbers = [2,4,5,6,3,7,8,9,6,5,4]
def even(lst):
    for i in range(len(lst)):
        if lst[i] % 2 == 0:
            yield lst[i]  
t = even(numbers)

for i in t:
    print(i)

2
4
6
8
6
4

In [44]:
# Question. WAP to take a list and return new list with distinct element.
# ex=[1,1,1,2,2,2,3,3,3,4,4,5,5,6,7]  => [1,2,3,4,5,6,7]
m=[1,1,1,2,2,2,3,3,3,4,4,5,5,6,7]
def dis(m):
    lis=[]
    for i in range(len(m)+1):
        if m[i]!=m[i+1]:
            lis.append(m[i])
dis(m)

IndexError: list index out of range

In [49]:
# WAF to print the list of where the number is squared 1-30 and both are include
def su(n):
    lis=[]
    for i in range(n):
        lis.append(i*i)
    return lis
t=su(30)
print(t)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]